{% extends "base.html" %}

  {% block content %}
  <h1>Let's Play Rock/Paper/Scissors</h1>

  <form action="/results" method="post"> 
    <div>
    <input type="text" name="player_1" id="player" placeholder="First player's name">
    <label for="choice_1">Choose:</label>
      <select name="choice_1" id="choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select></div>
    <div>
    <input type="text" name="player_2" id="player" placeholder="Second player's name">
    <label for="choice_2">Choose:</label>
    <select name="choice_2" id="choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select></div>
    <div class="submit"><input type="submit" value="Make a Choice" id="submit"></div>
  </form>

  {% endblock %}