<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Rock/Paper/Scissors Game</title>
</head>
<body>
  <h1>Let's Play Rock/Paper/Scissors</h1>
  <form action="/results" method="post"> 
    <label for="player_1">Player's Name</label>
    <input type="text" name="player_1" id="player_1">
    <label for="choice_1">Choose:</label>
      <select name="choice_1" id="choice_1">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
    <label for="player_2">Player 2</label>
    <input type="text" name="player_2" id="player_2">
    <label for="choice_2">Choose:</label>
    <select name="choice_2" id="choice_2">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
    <input type="submit" value="Make a Choice">
  </form>

</body>
</html>